$main_font: 'Inter';


.container{
  width: 1290px;
}
img{
  display: block;
  width: 100%;
}
.logo-wrap{
  display: inline-block;
  animation: logo 4s infinite;
}


header{
    padding: 30px 102px 31px 73px;
  a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
  }
}
.main_section{
    margin-bottom: 75px;
  h1{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 19px;
  }
  p{
    margin-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

}
.carousel-indicators li{
  width: 183px;
  background-color:#000000;
  border-radius: 0px;
}
.carousel-caption{
  text-align: left;
  color:#000000;
}
.carousel-control-next{
  justify-content: end;
  margin: 19px;
}
.carousel-control-prev{
  justify-content: start;

  margin: 19px;
}
.btn-outline-secondary{
  padding: 14px 53px;
}
.carousel-control-next:after {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: black;
  width: 12px;
}
.carousel-control-prev:after{
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: black;
  width: 12px;
}
.offer {
  padding-bottom: 78px;
  h2{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }
  p{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 55px;
  }

}
.most_items{

  padding-bottom: 74px;
  padding-top: 78px;

  a{
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .card-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
  }

  h5{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }
}
.the_best{
  padding-bottom: 75px;
  h3{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
  }
  p{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
  }
  .card{
    border-radius: 16px;
    overflow: hidden;
    h5{
      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      text-align: center;
      color: #000000;
    }

  }

  .card-body {
    text-align: center;
    height: 453px;

  }
    .card-text{

      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #000000;
    }

}
.ideas {
  padding-bottom: 75px;
  a{
    margin-top: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
  }

  h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }

  .text-center {
    p {
      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      text-align: center;
      color: #000000;
      margin-bottom: 56px;
    }
  }
  p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }
}